<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food For Later</title>
    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/module.css" />

</head>

<body>
  <main id="foodForLaterMain">
    <!-- Top Nav -->
    <nav>
      <ul>
        <a href="/">
          <li>Food For Now</li>
        </a>
        <!-- Search will be hidden on the Home page: index.ejs -->
        <a href="/">
          <li>Search</li>
        </a>
        <a href="/foodforlater">
          <li>My List</li>
        </a>
      </ul>
    </nav>
    <header>
        <h1> My Recipes</h1>
    </header>
    <section id="foodForLaterSection">
      <% results.forEach(recipe => { %>
        <article>
          <img src="<%= recipe.image_url %>">
          <div>
            <h2><%= recipe.label %></h2>
            <h4>Ingredients</h4>
            <ul>
              <% recipe.ingredientlines.forEach(ingredient => { %>
              <li><%= ingredient %></li>
              <% }); %>
            </ul>
            <div class='showButton'>Update</div>
            <form action="<%=`/delete/${recipe.id}?_method=DELETE` %>" method="post">
              <button type='submit'>Delete</button>
            </form>
            <form action="<%=`/edit/${recipe.id}?_method=PUT` %>"class='updateForm hidden' method="post">
                <input name='ingredientlines' value="<%=recipe.ingredientlines.join(' | ') %>">
                <button type='submit'>Submit</button>
            </form>
          </div>
        </article>
      <% }); %>
    </section>
    <!-- Footer -->
    <footer>
      <ul>
        <li>Food For Now &copy; 2020</li>
        <li>Built by: Cavendish Bananas</li>
      </ul>
    </footer>
  </main>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>  
  <script src='app.js'></script>
</body>

</html>
